[2019-09-07 21:05] koalacurioso opened #1 "I cannot get it working"
Sorry, but I never used GitHub before, I don't know if this is the right place to ask.
I'm trying to install your app on my iPhone but I get some errors,
there is something that I miss ?
![Screen Shot 2019-09-07 at 23 03 40](https://user-images.githubusercontent.com/265921/64480222-db532d00-d1c3-11e9-806f-b87235ccd8c9.png)
thank you

[2019-09-13 01:14] RudyB commented on #1
Hi @koalacurioso, you will want to open `Deluge Remote.xcworkspace`. I just tested that the application does build and run on my iPhone XS Max (iOS 12.4)

The dependencies will not load correctly if you open the `.xcodeproj` instead of the `.xcworkspace`. I think that was your issue.

[2019-11-24 04:32] #1 closed

[2019-11-24 05:28] RudyB opened #3 "Show Torrent File Structure"
When Adding a torrent, allow the user to select which files they would like to download.

In the Detail view, show the user all the files in the torrent

[2019-12-08 09:48] StefanescuCristian opened #5 "Build failed"
Hello,

I don't know much about Xcode. Am I doing somtheing wrong?

<img width="1426" alt="image" src="https://user-images.githubusercontent.com/1718660/70387674-956b5800-19b0-11ea-991a-71fa68ec45f4.png">

[2019-12-08 15:37] RudyB commented on #5
First thing first, it’s awesome that you’re using my app! In order to build the project, make sure you have the latest version of Xcode installed. Also open the .xcworkspace not the .xcproject

[2019-12-08 17:57] StefanescuCristian commented on #5
Thanks for the feedback. Indeed, it seems that I was using an older build of Xcode. I have installed the latest one from App Store and it works without a problem.

LE: Is this app for deluge 1.3 or 2.0 server?

[2019-12-08 20:05] RudyB commented on #5
I have only tested it with deluge 1.3.X

If you have any issues of feature requests, let me know.

[2019-12-08 20:05] #5 closed

[2019-12-09 08:35] StefanescuCristian opened #6 "Deluge-Remote crashes on Deluge 2.x server"
Hello,

I've managed to compile this on my iPhone. When adding a 2.x client, the app crashes. This is the trace that Xcode gives me:

`Fatal error: Index out of range
2019-12-09 10:20:12.071533+0200 Deluge Remote[28824:6878815] Fatal error: Index out of range
(lldb) `

How can I help you debugging more?

[2019-12-09 18:52] eric1932 opened #7 "Where to set username in add client?"

[2019-12-15 20:06] RudyB commented on #7
Currently, this is not supported in the application. I am unsure if username is supported via the Deluge Web API. I only found this [link](https://deluge-webapi.readthedocs.io/en/latest/quickstart.html) that refers to password only.

[2019-12-15 20:08] RudyB commented on #6
Do you have a 2.0 server that I can connect to for debugging purposes? If so, email me
h e l l o @ r u d y b e r m u d e z . i o

[2019-12-15 20:38] StefanescuCristian commented on #6
Yes, I will email you the credentials.

[2019-12-15 21:58] RudyB commented on #6
With your help I was able to replicate and fix the issue. Please pull the latest commit from master and try it out. I'll wait to close this issue until you give me the go-ahead.

[2019-12-16 08:49] StefanescuCristian commented on #6
Hello,

Thanks, I'll give it a try today and let you know if it's working.

[2019-12-16 16:40] StefanescuCristian commented on #6
Hello,

I've managed to configure and connect to a 2.X server, so I guess you can close this now.
Thanks!

[2019-12-16 16:42] #6 closed

[2019-12-28 16:55] #7 closed

[2019-12-29 15:43] webvictim opened #8 "Feature request: support for filtering by label"
Great app, love it. Got it built and installed no problem and it works brilliantly.

One feature that many people use in Deluge is the included label plugin, which allows you to group torrents using a particular set of settings (see https://dev.deluge-torrent.org/wiki/Plugins)

I notice that there's no support for the label plugin in the app - while you can filter by name, hash, tracker etc, it'd

[2019-12-29 17:01] RudyB commented on #8
Hey Gus,

I agree it’s a great idea. The only reason I didn’t add it initially was because the plugin was optional and not all users have it enabled. I’ll do some research to see if there is a way that I can check to see which plugins are enabled on a server. From there, I can enable the ability to filter, search, and view labels based upon whether they have the plugin enabled.

[2020-01-23 17:05] seannymurrs opened #9 "Trouble configuring seedboxes.cc Deluge installation"
I'm having trouble adding my Seedboxes.cc Deluge installation to the app. I get a timeout error when I test the connection. Should I be using the Deluge daemon port, or the webui port, or something else?

[2020-01-24 16:45] RudyB commented on #9
You should use the webui port. You also want to make sure you have the correct http/https option selected

[2020-01-27 03:56] shidevil opened #10 "Pre-compile IPA"
Love this project!

Will you be making a precompile IPA as a release?

[2020-01-27 04:51] RudyB commented on #10
Thank you! I wasn't planning on it, but it is something I can make if you want it

[2020-01-27 06:45] shidevil commented on #10
@RudyB it would be great to have an ipa :) hence people can sideload into their idevices. Thank you!

[2020-01-27 14:18] flippyreaper commented on #10
I would love to have precompiled ipa too :)

[2020-01-28 20:53] cristian-calin commented on #10
Me too. iPA's are much easier to install, and doesn't require installing full Xcode.

[2020-01-29 15:52] RudyB commented on #10
I will post one late tonight

[2020-02-01 04:49] RudyB commented on #10
Hi everyone,

I posted a pre-compiled ipa with ad-hoc code signing.

[2020-02-02 01:04] shidevil commented on #10
@RudyB Thank you!

[2020-02-02 01:04] #10 closed

[2020-02-02 01:39] shidevil opened #11 "[Bug] Error parsing torrent data points"
Deluge version: Deluge 2.0.4.dev23
Deluge-Remote: Latest precompiled IPA

Adding deluge client in deluge remote is working perfectly however when loading the torrent list. An error "Error parsing torrent data points" pops up.

[2020-02-02 01:40] shidevil opened #12 "[Bug] Failure to load config"
Deluge version: Deluge 2.0.4.dev23
Deluge-Remote: Latest precompiled IPA

Trying to add a torrent file will have an error "Failure to load config", An error occured while attempting to load in the default torrent configuration.

[2020-03-02 06:12] gmonteir opened #13 "Deleting torrent instantly crashes app"
Whenever I try to delete a torrent, the app crashes instantly. iPad Pro 11-inch on iPadOS 13.3.

[2020-03-02 15:46] RudyB commented on #13
I’m sorry to hear that. Which Deluge Server version are you using?

[2020-03-02 15:47] RudyB commented on #12
I haven’t validated with the latest Development deluge server versions. I’ll check it out

[2020-03-02 15:47] #9 closed

[2020-03-02 15:54] cnjones opened #14 "Feature Request: Pre-signed .ipa file"
Can you create a signed .ipa file so we can sideload the app without a computer?

[2020-03-02 16:03] RudyB commented on #14
I’ve pre-signed the one in the releases. Are you having trouble with it?

https://github.com/RudyB/Deluge-Remote/releases

[2020-03-02 17:18] snkedive commented on #13
Server is on 1.3.15.

[2020-03-08 11:01] chrillep opened #15 "[Feature request]: MacOS compability"

[2020-03-12 08:39] oregonpillow opened #16 "How to install?"
Hi,
Great project! Wondering if someone can explain in detail how to install onto iPhone? I have no experience installing not app-store apps onto iOS. I didn’t see an installation section in readme....

[2020-03-12 17:50] #14 closed

[2020-04-11 20:23] joshkerr opened #17 "Unable to add torrent magnet links or torrent files without the app crashing."
This app needs some work. It is very unstable on iPadOS 13.

[2020-04-11 23:01] RudyB commented on #17
The app was never meant for iPad. I never put effort in to optimizing for the screen size but I suppose I will.

Also, what version of the deluge server are you using?

[2020-04-11 23:42] joshkerr commented on #17
I’m using deluge 1.3.15

Sent from my iPad

[2020-04-12 04:50] weppa commented on #17
How do you install?

[2020-04-12 05:10] joshkerr commented on #17
xcode.

Sent from my iPad

[2020-04-12 18:26] RudyB commented on #17
Hi @joshkerr,
I just made a ton of changes to the application and it is now optimized for iPads. Please pull the latest version of master and try it out.

I also verified it with deluge 1.3.15

[2020-04-12 18:32] RudyB commented on #16
Hey @oregonpillow,

Glad you love the project. The only way to install currently is via Xcode. I will be putting together an install guide

[2020-04-12 18:35] RudyB commented on #15
Would love to support this! The main issue is that my dependencies currently don't support macOS. I will continue to monitor this and migrate when I can

[2020-04-12 18:36] RudyB commented on #13
@gmonteir,

I just made a ton of changes and optimized the application for iPads. It looks and performs way better! Please clone my master branch and test it out

[2020-04-12 18:36] RudyB commented on #12
@shidevil Do you have a deluge server instance that I can connect to for debugging purposes?

[2020-04-13 05:10] waterfish007 commented on #11
i have the same problem in deluge 2
![8FF49AEE-1243-4DE1-80E3-10088219719B](https://user-images.githubusercontent.com/10208133/79093831-133cd700-7d88-11ea-91a4-6784239b7980.png)

[2020-04-13 05:17] RudyB commented on #11
@waterfish007 Again, the application has only been tested with Deluge 1.X.X. I should have some time in the coming week to add support for deluge 2.X

[2020-04-15 10:00] pittsy commented on #16
+1

[2020-04-17 20:14] joshkerr commented on #17
Works way better. I'm now able to add torrents. Also the interface makes a lot more sense on the ipad. Nice work!

I'm still getting minor glitches though. For example, I uploaded a torrent from the app and it said it failed, but the torrent was successfully added. I will go through and add bug reports for the bugs that I can reproduce.

[2020-04-17 20:19] joshkerr opened #18 "Error parsing torrent data points"
I'm getting regular errors that pop up saying "Error parsing torrent data points." The app seems to be running fine, but these error messages are annoying. Maybe we could have an option to ignore?

[2020-04-17 20:27] joshkerr commented on #18
Seems to happen after adding a torrent or deleting a torrent. Otherwise it seems to work fine.

[2020-04-18 14:53] joshkerr commented on #18
Actually on further review, it seems to fail only when adding a torrent. After adding a torrent, the app switches to the torrent list view and selects the newly added torrent. For some reason the app isn’t able to load the details of the newly added torrent and prompts with the error. If you select a different torrent and then back to the newly added torrent it works fine.

[2020-04-18 15:06] joshkerr opened #19 "iPhone: keyboard blocks fields when editing torrent path"
If you are on the iPhone in portrait mode and you try to edit the path of an existing torrent, the keyboard pops up and covers the text field. You can’t see what you are typing.

[2020-04-18 15:20] RudyB commented on #19
Great catch. What size iPhone are you testing on?

[2020-04-18 15:24] RudyB commented on #18
Sounds like the app is requesting the torrent details before the server is ready. Again, you sure you are using Deluge 1.3.15?

[2020-04-18 18:07] joshkerr commented on #18
Confirmed: 1.3.15.

[2020-04-18 18:07] joshkerr commented on #19
iPhone 11 Pro Max.

[2020-04-18 18:09] joshkerr opened #20 "REQ: Multi select feature to choose multiple torrents to delete"
On the list view of the torrents, you can swipe left to delete a torrent. I’d love to see a multi-select feature that would allow me the ability to select multiple torrents and then choose to delete just the torrent or torrent and data for all that is selected.

[2020-04-18 18:13] joshkerr commented on #19
Another related issue is that when adding a new torrent and using an iPad with the external keyboard (Apple keyboard folio case for example) there is a small keyboard bar that appears across the screen. This bar covers the “upload torrent” button until you dismiss it. The keyboard bar only appears when you try to edit a field on the torrent and then disappears.  Attached is a photo of it.

This ke

[2020-04-18 18:50] joshkerr commented on #3
+1 for this feature.

[2020-04-18 21:21] RudyB commented on #19
I can write some code to automatically scroll the view in order to ensure that the field that the user is entering text into is always above the keyboard.

[2020-04-18 23:15] joshkerr commented on #19
That would solve it.

Sent from my iPad

[2020-04-19 03:56] RudyB commented on #18
Which operating system is your server running on?

[2020-04-19 04:34] joshkerr commented on #18
Linux.

Sent from my iPhone

[2020-04-19 19:33] joshkerr opened #21 "REQ: Support drag and drop split screen on the iPad."
You should be able to have safari and deluge-remote open in split screen. If you drag a magnet link or a file that is downloaded from safari (available from the downloads menu drop down) over to deluge-remote, it should add the torrent. My suggestion is that it shows the add torrent screen with the details filled in.

[2020-04-20 12:30] Aviaf47 commented on #16
This would be great. I’m assuming I need to figure out how to temporarily get a Mac environment to export it via Xcode?

I saw something about a compiled binary through iTunes on the chat. Is this doable in windows environments too?

[2020-04-21 19:41] lukasa1993 commented on #3
+ really good one please add

[2020-04-25 17:04] dn4hc opened #22 "Remove password as required"
Following works perfectly on BarMagnet but can’t replicate on your app.

![6ED6C407-2CFE-4C7B-973D-0954510EE150](https://user-images.githubusercontent.com/3523129/80285777-9556d380-876a-11ea-8118-143ffdaf4821.png)

[2020-04-25 19:43] RudyB commented on #22
I had no idea that passwords could be optional. I’ll fix that tonight

[2020-04-25 19:44] RudyB commented on #13
Is this still an issue?

[2020-04-28 03:26] robertocaldas opened #23 "Deluge-Remote requires a password"
The password can be empty on deluge, but deluge-remote requires one anyway.

[2020-05-06 17:42] joshkerr opened #24 "REQ: Watch folder on iOS devices to add multiple torrents."
Here is the use case. I belong to a private tracker and I just downloaded 20 torrents to my iPad downloads folder using Safari. Getting them into Deluge-Remote is a pain. You have to share them one at a time.

What I’d love is for Deluge-Remote to show up as a folder in the iOS Files app. Any files copied to that folder would automatically be added to the default deluge server. Sort of like a watc

[2020-05-06 18:15] RudyB commented on #24
This is brilliant!

[2020-05-29 22:22] RudyB commented on #23
Duplicate of #22 . This has been fixed

[2020-05-29 22:22] #23 closed

[2020-05-29 22:24] RudyB commented on #22
@dn4hc I have fixed the issue. Please clone the latest version of master to install it to your device.

[2020-05-30 15:30] dn4hc commented on #22
Thanks!

[2020-05-30 15:30] #22 closed

[2020-05-30 15:32] dn4hc opened #25 "[Bug] Error when loading torrent"
Hey, thanks for the update.

I get the following error whenever i view torrent status or when the dashboard refreshes.

![4D562D33-B915-4B7B-BAE0-8AF68E7362A1](https://user-images.githubusercontent.com/3523129/83332441-938aad80-a2de-11ea-9c37-7a33e964f98e.png)

![7FB43B8F-CA38-4C33-B2EE-148CC953CE74](https://user-images.githubusercontent.com/3523129/83332510-ee240980-a2de-11ea-8f09-f86496865e75.jp

[2020-05-30 16:56] RudyB commented on #25
What version of deluge daemon are you running? 2.x is currently not supported

[2020-05-30 16:57] RudyB commented on #11
Duplicate of #18

[2020-05-30 16:57] #11 closed

[2020-05-30 17:30] dn4hc commented on #25
$ deluged -v
deluged: 1.3.15
libtorrent: 1.1.11.0

[2020-05-30 22:23] joshkerr commented on #25
I get that one all the time. I think it happens more when my seedbox is under heavy load. It could be a timing issue. Annoys the hell out of me.

Sent from my iPad
On May 30, 2020, 12:30 PM -0500, dn4hc <notifications@github.com>, wrote:

[2020-06-12 05:28] RudyB commented on #25
@joshkerr This seems like a latency issue when the seedbox is under heavy load. Usually only see this error when a download is eating up all of my bandwidth.

@dn4hc Does this happen constantly or is it an occasional issue?

[2020-06-12 05:29] RudyB commented on #19
@joshkerr I am committing to fixing this on Saturday

[2020-06-12 05:54] dn4hc commented on #25
Constantly! Running deluge on rpi4, even when nothing is being downloaded or uploading.

Possible to enable logs?

[2020-06-13 05:42] RudyB commented on #19
Can you screenshot this issue please?

[2020-06-13 05:44] RudyB commented on #13
Closing due to lack of response

[2020-06-13 05:44] #13 closed

[2020-06-13 05:47] #16 closed

[2020-06-13 17:22] RudyB commented on #19
@joshkerr I have fixed this issue and will be pushing a release soon.

[2020-06-13 17:41] joshkerr commented on #19
Thank you!

Sent from my iPad
On Jun 13, 2020, 12:22 PM -0500, Rudy Bermúdez <notifications@github.com>, wrote:

[2020-06-13 21:12] RudyB commented on #18
Think I fixed this issue in 1.3 and am uploading momentarily. I also added Logging so you can now send me debug files that will tell me exactly what is failing

[2020-06-13 21:12] #18 closed

[2020-06-13 21:15] RudyB commented on #25
@dn4hc I am releasing version 1.3 with a handful of fixes. You will now be able to send me log files whenever you have this issue. Logs will be found in Files App -> Deluge Remote -> Logs

[2020-06-13 21:17] #12 closed

[2020-06-13 21:35] #19 closed

[2020-06-13 21:35] #17 closed

[2020-06-13 22:07] joshkerr opened #26 "[Bug] Failed to add torrent (from sharing menu or clicking on torrent)"
I'm getting "Failed to add torrent" when i try to add torrents from the Files app or by clicking on the torrent file and choosing "Share". If I add the file from Deluge-Remote directly by choosing the plus button and then choosing the file, it works fine. This is with the new 1.3.0 version.

The log file doesn't have anything useful in it. Just the INFO: Application Launching

[2020-06-13 22:27] RudyB commented on #26
Okay I was able to replicate it. Fixing it now

[2020-06-13 22:42] joshkerr commented on #25
Here is a log file with some of the timeouts:

[DelugeRemoteLog-06-13-2020.txt](https://github.com/RudyB/Deluge-Remote/files/4775619/DelugeRemoteLog-06-13-2020.txt)

[2020-06-14 00:09] #26 closed

[2020-06-14 00:14] RudyB commented on #26
@joshkerr Okay I have fixed the issue in 1.3.1

I completely changed the way that files were handled in the app to lay the groundwork for a watch directory where .torrent files would be automatically added. I suppose this kind of regression was to be expected. I did some basic testing and it seemed to be working. Can you try and break it?

[2020-06-14 17:00] joshkerr commented on #26
Seems to work after the 1.3.1 update. Will hammer it later today and report back.

[2020-06-14 17:18] RudyB commented on #26
Have at it! You seem to be really good at breaking my code.

[2020-06-15 00:52] joshkerr commented on #26
The new system is working very well. My only complaint (I can open a new issue on it if you want) is that after adding a bunch of torrents you have to click back through a bunch of torrent details pages to get to the main view of all of your torrents. Maybe after adding a new torrent you should be deposited back to the main torrent view with that new torrent highlighted?

[2020-06-15 03:07] RudyB commented on #26
@joshkerr Maybe it would make more sense to be able to upload multiple torrents at once? Want to create a feature request issue for that?

[2020-06-15 04:15] joshkerr opened #27 "REQ: Upload multiple torrents at once"
I would love to be able to upload multiple torrents at once. This is how I see it working:

I download the torrents from Safari. Then from the iOS files app, I move them into the Deluge-Remote folder. Then I fire up Deluge-Remote and the torrents are automatically uploaded.

A second way this could work would be to select multiple torrents from the files app and then choose the iOS share sheet. Th

[2020-06-17 17:04] joshkerr opened #28 "BUG: Error parsing torrent data points message occurring often."
I’m still getting a lot of these “error parsing torrent data points.” It happens randomly. I’ve attached my log file.

[DelugeRemoteLog-06-17-2020.txt](https://github.com/RudyB/Deluge-Remote/files/4794095/DelugeRemoteLog-06-17-2020.txt)

[2020-06-17 21:49] RudyB commented on #28
Awesome! The log helps a ton. So it looks like your torrents are missing the “active_time” datapoint which is strange. I will be changing the data model to make that an optional field. Also it looks like your requests are timing out due to some network condition issue. I will try and increase the network timeout to see if that resolves the second issue.

[2020-06-26 07:05] #25 closed

[2020-06-26 07:05] RudyB commented on #28
@joshkerr Go ahead and try version 1.3.2

[2020-06-26 18:09] joshkerr commented on #28
Trying it now. I Will report back any issues I find. Thanks for closing this one out. It was annoying.

[2020-06-28 04:56] Jono007 commented on #28
I’m still getting these with 1.3.2 (although much less than with 1.3.1)z. I’m not sure how to extract the logs. I sideloaded using AltStore.

[2020-06-28 04:58] RudyB commented on #28
@Jono007  Go to the Files app and then click Deluge Remote and you should find the logs in the Logs directory

[2020-06-28 05:10] Jono007 commented on #28
Great, thanks. Here’s the latest.

________________________________
From: Rudy Bermúdez <notifications@github.com>
Sent: Sunday, June 28, 2020 2:58:32 PM
To: RudyB/Deluge-Remote <Deluge-Remote@noreply.github.com>
Cc: Bond, Jonathon <jonathon.bond@dentons.com>; Mention <mention@noreply.github.com>
Subject: Re: [RudyB/Deluge-Remote] BUG: Error parsing torrent data points message occurring often. (#2

[2020-06-28 05:17] RudyB commented on #28
This is a simple fix, but it may not be the only issue. For whatever reason, your deluge client is reporting values as different types. I am making a release for you right now, but it may be an iterative process as we potentially uncover more issues

[2020-06-28 05:25] RudyB commented on #28
@Jono007 See [Release 1.3.3.1](https://github.com/RudyB/Deluge-Remote/releases/tag/1.3.3.1)

[2020-06-28 07:27] Jono007 commented on #28
Thanks, so fast! That seems to have worked so far. I’ll keep monitoring it but I think this is solved for me.

[2020-06-29 15:18] joshkerr commented on #28
I think that fixed my data points errors too. I’m also still seeing intermittent Error network connection lost, even though the app is working fine and I’m on a stable connection.

Here is the log for it:

[12:34:35.921] AppDelegate.application(_:didFinishLaunchingWithOptions:):42 INFO: Application Launching
[13:13:51.765] AppDelegate.application(_:didFinishLaunchingWithOptions:):42 INFO: Applicat

[2020-07-02 15:34] joshkerr commented on #8
Not only would I like to see filter by label, but also the ability to assign labels to already added torrents and new torrents.

[2020-07-08 20:29] dn4hc commented on #28
Still getting this issue.

[DelugeRemoteLog-07-09-2020.txt](https://github.com/RudyB/Deluge-Remote/files/4893100/DelugeRemoteLog-07-09-2020.txt)

https://share.icloud.com/photos/0aI_6p8Uivoi9SuHZyLS6sD9Q

[2020-07-11 15:35] RudyB commented on #28
@dn4hc Looks like your deluge server is not sending all of the tracker data points. This is not a big surprise to me. The deluge documentation on the ui api was a bit lacking when I originally wrote the api client. It's currently uncertain what data points are sent every time and which are intermittent.

[2020-07-11 22:30] RudyB commented on #28
@dn4hc I have made a small fix to the /feature/ticket-28 branch. Can you pull from there and let me know if that fixes your problem on the detailed torrent page?

[2020-08-03 19:52] ghost opened #29 "BUG: Deluge time out while establishing connection"
Keep getting a time out when trying to connect to my web Deluge. The problem I think lies that it requires me to specify a port which doesn't work (despite it being listed as the web port). When I open the credentials in the browser, I automatically login because I don't need a username.

I'm using the exact same credentials as for my torrent handler Firefox add-on, which connects fine, yet Deluge

[2020-08-04 22:26] bittles opened #30 "Adding Torrents: Connection failure, Response could not be serialized, input data was nil or zero length."
Able to see and control my torrents, but adding them gives me that error.  I know it's something wrong with the JSON response from my server but that's as far as I've gotten.  Running deluge on my AC88 router with asus-merlin firmware.  The app worked on an old version of deluge but had to wipe and update the router firmware recently and it hasn't worked with this version.  Logs from Deluge Remote

[2020-08-10 13:15] dn4hc commented on #28
Finally found the solution for this issue (for myself)

[Service]
User=debian-deluged
**UMask=000**
ExecStart=/usr/bin/deluged -d -l /var/log/deluged/daemon.log -L warning

Umask was set too restrictive so i just changed it to 000.

[2020-08-10 13:16] dn4hc commented on #25
Finally found the solution for this issue (for myself)

[Service]
User=debian-deluged
UMask=000
ExecStart=/usr/bin/deluged -d -l /var/log/deluged/daemon.log -L warning

Umask was set too restrictive so i just changed it to 000.

_Issue closed, Thanks a ton._

[2020-08-31 04:47] ehosch commented on #3
Please also add file priority...it’s really the only feature I can’t do on webui with mobile

[2020-09-07 18:23] RudyB commented on #3
@ehosch Okay I will add that

[2020-09-21 07:10] CelticWebSolutions commented on #28
I'm also getting this error.

I just tried @dn4hc solution but changing my umask permissions to 000 didn't work, I still get the error "Error Parsing Torrent Data Points"

I'm using 1.3.3 on iPhone X iOS 14 installed with Altstore.

Here's an error log form my phone
[DelugeRemoteLog-09-21-2020.txt](https://github.com/RudyB/Deluge-Remote/files/5253862/DelugeRemoteLog-09-21-2020.txt)

[2020-09-21 07:24] Jono007 commented on #28
You need to use 1.3.3.1 - https://github.com/RudyB/Deluge-Remote/releases/tag/1.3.3.1

[2020-09-21 08:07] CelticWebSolutions commented on #28
Thanks, I didn't realise there was a newer version, I just clicked "latest release" in the readme.  I'll give that a go now.

[2020-09-21 08:07] CelticWebSolutions commented on #28
Works perfectly 👍

[2020-09-29 18:16] julio8a opened #31 "Connection failure"
Settings I try for adding a client:

Name: Deluge
Hostname: local IP address of the host (192.168.xx.xx)
Relative path: Path to the downloads folder
Tried both HTTP and HTTPS
Password: mypassword for deluge

When I test connection I get:

[code]

[2020-10-01 23:07] julio8a commented on #31
got it to work.

[2020-10-01 23:07] #31 closed

[2020-10-05 20:48] simplygk-cyber commented on #28
I was having the issue and downloaded the hot fix in release 1.3.3.1 confirmed its working

[2020-10-05 21:42] CelticWebSolutions opened #32 "iOS 14.2 beta 2"
Not sure if this is an issue or a bad install on my phone.  I installed it with AltStore, it has worked previously but when I just reinstalled on latest iOS 14.2, opening it results in going back to the main springboard.

The only things I can see for deluge in console are below.  Now sure if any of this will be of help to you?

`error	22:38:13.078727+0100	SpringBoard	Ignoring state for untracked

[2020-10-05 21:48] CelticWebSolutions commented on #32
A little more from the logs that may shed some further light on the issue.

https://pastebin.com/8eShMCtB

[2020-10-15 22:27] RudyB commented on #32
I haven't tested this for iOS 14 yet. I'll try it out and let you know how it goes

[2020-10-15 22:28] RudyB commented on #30
There are no logs what so ever? What version of the app are you running?

[2020-10-15 22:31] RudyB commented on #29
Oh I see. Yea I bet the blank username is what is messing it up

[2020-10-15 22:32] #28 closed

[2020-12-11 09:55] netvl opened #33 "Allow using the comment field as a link"
Some torrent files have the "comment" field which is often a link to the tracker. This is very convenient, because it makes it easy to navigate to the page on the tracker website to e.g. download a new version of the file.

Currently the client does show the comment field, but there is nothing could be done with it - you can't copy its text, and it does not get highlighted as a link.

It would be

[2020-12-11 19:22] RudyB commented on #33
Ya I should be able to add that. I was in the middle of re-writing the application in Swift-Ui and it will have a lot of improvements.

[2020-12-11 20:39] RudyB commented on #32
@CelticWebSolutions Is this still an issue?

[2020-12-11 20:41] RudyB commented on #30
Closed due to no response

[2020-12-11 20:41] #30 closed

[2020-12-11 20:41] CelticWebSolutions commented on #32
Turned out to be an issue with AltStore rather than your app 👍

[2020-12-11 20:42] RudyB commented on #32
Glad to hear it. Big feature improvements coming soon! Closing this ticket

[2020-12-11 20:42] #32 closed

[2020-12-21 06:22] RudyB opened #34 "Add Home Screen Quick Actions"
Add Home Screen Quick Action for adding a torrent

[2020-12-23 04:47] RudyB commented on #34
Added in #35

[2020-12-23 04:47] #34 closed

[2020-12-23 04:47] RudyB commented on #33
Added in #35

[2020-12-23 04:47] #33 closed

[2020-12-23 04:48] RudyB commented on #3
Added basic functionality in #35

I still want to add support for showing file progress and file size

[2020-12-23 16:52] matthieuki opened #36 "Log with daemon port"
Hi,

I've a "htpasswd" to go to my deluge, so I've always an error 401.
Is it possible to log with daemon port ?

Tks,

Matthieu

[2020-12-23 17:09] RudyB commented on #36
Hey Matt,

The software communicates over the web-ui api and it currently only supports authentication via the standard Web-Ui method: 'auth.login'

[2020-12-25 13:00] matthieuki commented on #36
Hi ! Thank you for the info ;)

[2020-12-25 13:00] #36 closed

[2020-12-27 05:04] RudyB commented on #29
Hopefully fixed in #41

[2020-12-27 05:04] #29 closed

[2020-12-28 18:32] lukasa1993 opened #42 "google services?"
whats the purpose of google services ?

[2020-12-28 18:34] RudyB commented on #42
Crash reporting but you can turn it off in the settings

[2020-12-28 18:35] lukasa1993 commented on #42
inside app ? or in code ?

[2020-12-28 18:37] RudyB commented on #42
Inside the app. Go to Settings -> Crash Reporting & Analytics

[2020-12-28 18:37] lukasa1993 commented on #42
i really don't wish to build any google code is there any quick way of completely removing it ?

[2020-12-28 18:39] RudyB commented on #42
Not a quick way, but yes there is a way.

[2020-12-28 18:40] lukasa1993 commented on #42
please whenever you get chance tell me how

[2020-12-28 18:44] RudyB commented on #42
I can make a branch for it I guess

[2020-12-28 18:45] lukasa1993 commented on #42
i removed libs and gogole-services file and it stuck at `Could not get GOOGLE_APP_ID in Google Services file from build environment`

[2020-12-28 18:45] RudyB commented on #42
I am building you a branch. Give me 10 minutes

[2020-12-28 18:46] lukasa1993 commented on #42
thank you

[2020-12-28 18:50] lukasa1993 commented on #42
built so dont spend time its ok

[2020-12-28 18:53] RudyB commented on #42
Here: https://github.com/RudyB/Deluge-Remote/tree/no-google-services

[2020-12-28 18:53] lukasa1993 commented on #42
thank you

[2020-12-28 19:23] #42 closed

[2021-01-01 23:05] wasgehthierab commented on #31
how did you solve it?

[2021-01-02 06:21] julio8a commented on #31
If I remember correctly, in the relative path it's just '/'

[2021-01-02 06:49] xEsteem opened #43 "Add from torrent url"
At the moment app supports magnet link or torrent file, but deluge also supports adding a torrent from a url to save having to download and then upload the torrent file. Would be good to replicate that.

[2021-01-02 06:52] xEsteem opened #44 "Configure iPad layout to increase torrent list screen space"
Currently the datagrid on the left is too small to see full torrent names easily and the info panel on the right takes up 75% of the screen space. It would be nice to be able to configure that layout to attribute more screen space to the torrent list. Perhaps just having the option to widen the torrent list panel or making it so the screen space is split vertically etc

[2021-01-02 07:04] xEsteem opened #45 "Increased clarity in new client window"
make it clear that:

- you need to use webUI credentials as opposed to daemon
- the port is the http port and not any deluge related server port (I.e. 80 for http, 443 for https etc)
- the “relative path” relates to the connection url I.e. my.server.com/relative/path/

[2021-01-02 16:23] wasgehthierab commented on #31
ah thx, unfortunately it did not solve my problem :/

[2021-01-02 16:59] julio8a commented on #31
Ah, no. I left it blank. Here are my settings, if it helps...

![image](https://user-images.githubusercontent.com/6144462/103462250-bf3c9e80-4cd8-11eb-8729-11b72a5e5264.png)

[2021-01-02 17:00] julio8a commented on #31
Test connection should return valid configuration.

[2021-01-09 17:07] xEsteem opened #47 "Set priority of individual files within torrent"
The same as how you can click on a torrent in deluge and set the priority of individual files

[2021-01-10 00:05] RudyB commented on #43
This should be pretty trivial to implement. I'll take a look at it today

[2021-01-10 00:06] RudyB commented on #44
Good point! I'll look into it

[2021-01-10 00:07] RudyB commented on #45
I'll add that info as a comment in the view

[2021-01-10 00:09] RudyB commented on #47
I will implement this when I completely overhaul the files tab. I'm going to add the ability to view file size, and delete individual files as well

[2021-01-13 10:21] ehosch commented on #3
Nice job. File list gets split by sub folder "subs" for some reason.  Progress and priority would be awesome!  Thanks for working on it!

[2021-01-13 16:16] wasgehthierab opened #48 "cannot connect"
Hey there,

I cannot connect to my host with your app. I can connect via web interface but when I try with your app this message appears:
`Connection failure Response status code was unacceptable: 502`
Could it be, that the app is not accepting TLS1.3 or something else?
How could I debug this?

[2021-01-15 14:38] lukasa1993 opened #49 "client error when i try to open details"
<img width="414" alt="image" src="https://user-images.githubusercontent.com/1499012/104739970-cfd12800-5760-11eb-82e3-1c2080d17233.png">

same torrent in web ui opens fine.

if i pause torrent from web and try to open in app it opens… but when its downloading it shows this error

[2021-01-15 18:46] RudyB commented on #49
That is an actual error on your server. Does not have to do with the app.

[2021-01-15 18:46] #49 closed

[2021-01-15 18:47] RudyB commented on #48
I bet you anything it is either a path or port issue. Email me with as much specifics you are willing to provide and I will see what I can do to help

[2021-01-15 18:47] #48 closed

[2021-01-15 19:06] lukasa1993 commented on #49
server works fine with webui only appered on app anything i can do ?

[2021-01-15 19:52] RudyB commented on #49
I bet you anything it also occurs on the web-ui but it is just silenced. I will look into it

[2021-01-15 20:03] lukasa1993 commented on #49
can i silence it in app as well ? and use it ?

[2021-01-15 20:06] RudyB commented on #49
I'll come up with something

[2021-01-22 18:18] superchase9000 opened #50 "Add support for basic authentication headers"
I run everything behind a reverse proxy with https + basic authentication for increased security for all hosted applications. Do you think it would be feasible to add support for custom headers like the app, Luna Sea, has incorporated?

Thank you for your continued development. Deluge's native webUI is atrocious on mobile, and your application has made it wonderfully useful again.

[2021-01-26 12:37] Jbcbro opened #51 "iOS 14 widget"
Would be cool to see a widget on the home screen displaying active downloads/seeding or something like that 👍

[2021-01-27 05:28] jamauai commented on #45
Been trying to connect to Deluge on my seedbox the past two days. Where do I find the correct relative path? Also can the hostname be IP instead?

[2021-01-27 05:33] RudyB commented on #45
Does your Deluge WebUI url have a relative path? How do you access it on a standard internet browser?

[2021-01-27 06:05] jamauai commented on #45
It's one of those click-to-install apps. The Deluge URL I was provided by the seedbox vendor looks like: `user-deluge.server01.seedbox.com`. No trailing path, it ends at `.com` and pulls up the web UI prompting me for a password.

The "Download to" folder is set to `/mnt/shared/Application Data/deluge/`. Would that be the relative path? If so, would it matter if there is a space in it?

I was also

[2021-01-28 04:55] jamauai opened #52 "Server returned an invalid response"
Using Deluge Remote v1.5.4 on iOS 14. Haven't had any success adding a client, but finally got "Invalid Password," so I think I'm on the right track.

When I use the correct password, it says "Server returned an invalid response."

Here's what I have entered:
[code]

From the logs:
[code]

[2021-01-28 19:28] jamauai commented on #52
Might have been a Deluge config issue. Spun up separate Deluge 2 beta instance and was able to connect fine with same info.

[2021-01-28 19:28] #52 closed

[2021-02-10 19:47] jslpc opened #53 "REQ: Add support for non-Deluge clients like rTorrent and Transmission"
I'd love to use this app, but unfortunately I keep my hundreds of torrents within rTorrent/ruTorrent instead of Deluge. Is there any plan to add rTorrent support to the app?

[2021-02-13 22:46] RudyB commented on #51
Was actually working on one!

[2021-02-13 22:48] RudyB commented on #53
It has never been requested before so I haven't explored the work required to implement it. If there is a nice web-api, I should be able to put something together relatively quickly. I'll take a look and get back to you

[2021-03-16 20:10] fauxpaux opened #54 "Place to enter username for new client"
I'm trying to add a new client, but there is no place to enter username for the login credentials.

[2021-03-25 00:44] ufilme commented on #53
Also bittorrent if it's possible ☺️

[2021-03-25 01:03] RudyB commented on #53
I would love to get around to this. Might take a while for me to get to tho... Historically I only work on this app in December because that's when I get a couple weeks off

[2021-03-25 01:08] ufilme commented on #53
If it can encourage you it would be the only working app to do this 😁

[2021-03-26 22:56] joshkerr commented on #53
rtorrent support would be great.

[2021-05-06 00:33] RudyB commented on #45
@jamauai
Port: The web interface port.
hostname: user-deluge.server01.seedbox.com
The relative path should be blank in your case.

[2021-05-06 00:36] RudyB commented on #54
A username is not used with the WebUI. You are likely using the daemon / RPC credentials.

[2021-05-06 00:36] #54 closed

[2021-05-06 00:37] RudyB commented on #43
Finally getting around to this. Should have a build out today

[2021-05-06 03:07] #45 closed

[2021-05-06 03:08] RudyB commented on #43
Implemented in 1.5.5

[2021-05-06 03:08] #43 closed

[2021-05-21 15:14] dn4hc commented on #47
Additionally it would be awesome to selectively download torrent files.

[2021-05-21 15:15] dn4hc commented on #8
+1

[2021-05-23 10:00] lysin commented on #50
+1

I used to have this working on a previous version by passing the username/password on the host configuration, but it doesn’t seem to work on a new install.

[2021-05-31 00:03] pranau97 commented on #8
I'd also appreciate it a lot if this feature could be added to the app.

It would make the process of manually labeling torrents so that they can be picked up by Sonarr/Radarr much easier.

[2021-09-25 23:58] RudyB commented on #53
Okay I think I am ready to start working on this. If anyone wants to help out that would be rad

[2021-09-27 12:39] joshkerr commented on #53
Start with rTorrent please. I'll help you test it.

[2021-12-13 08:09] lukasa1993 opened #55 "daemon auto connect"
when deluge server restarts app cant connect till you manually connect from web-ui would be nice if app could do that on its own

[2022-01-21 08:40] yysiman opened #56 "how to add torrent"
When I add torrent from file, it said "response could not be serialized input data was nil or zero length", what's it means?
My phone is in iOS 14.4.1

[2022-05-26 13:46] bonny1992 commented on #8
I'd also like full support of labels.

I don't know till this day why Deluge still relegate labels as plug-ins.

[2022-05-28 00:18] bonny1992 commented on #53
Rtorrent has XML-RPC api, it's not pretty but it'll work.

[2022-07-13 22:29] RudyB commented on #56
Are you still having this issue?

[2022-07-13 22:32] RudyB commented on #55
I think the issue you are describing is that the web-ui is running however it isn't connected to a daemon. I remember at one point the app would start the daemon but I think I dropped support for it. I will have to double check what exists in the code.

[2022-07-14 03:35] lukasa1993 commented on #55
i found that it has auto-connect and solved it by that but if this app has it also would be great

[2022-07-18 06:31] darknessdsc commented on #56
Same issue only if uploading .torrent. Magnet link still works.

[2022-07-18 06:55] RudyB commented on #56
@darknessdsc  What version of the deluge daemon are you using?

[2022-07-18 06:58] darknessdsc commented on #56
<img width="203" alt="image" src="https://user-images.githubusercontent.com/3939887/179459064-d4c539fa-643f-4bfa-b3dc-b1ce5983bd0a.png">

deluged 2.0.5
libtorrent: 2.0.6.0
Python: 3.10.4
OS: Linux

I'm using docker with these image source.
https://hub.docker.com/r/linuxserver/deluge

[2022-08-10 15:10] IzaacJ opened #57 "REQ: Sort torrents by priority and easier way to switch client"
Hello!
Adding priority to the sorting would be useful, and also a quicker way to switch between clients, maybe by tapping the client name on top or swiping on the navigation bar in the bottom.

Otherwise, the app seems to work great! Love it!

[2022-11-03 22:22] ghost commented on #8
+1 on label support, viewing from torrent list but also assigning labels to torrents from within the app

[2022-11-15 10:44] xEsteem opened #58 "UX Enhancement - Make it simpler to switch between clients"
At the moment to switch between clients its 5 clicks

Settings > Deluge Clients > Select other client > Back > Back

I think we could make this a lot simpler in a few ways.
Either making the client name at the top a button that goes straight to the "Deluge Clients" page so then its three clicks

Click Title > Select other client > Back

Or even have the ability to swipe across on the title bar lef